<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>皮森社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:fragment="footer" class="footer">
    <div>
        Copyright&nbsp;&nbsp;&nbsp;©&nbsp;&nbsp;&nbsp;2019&nbsp;&nbsp;&nbsp;pisen社区&nbsp;&nbsp;&nbsp;服务器：腾讯云&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;About
    </div>
</div>
</body>
</html>