<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>皮森社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }

</script>
<body>
<div th:insert="navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>话题</h2>
            <hr>
            <div class="media" th:each="question : ${pageInation.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
<!--                    <span th:text="${question.description}"></span> <br>-->
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>个回复 ·
                        <span th:text="${question.viewCount}"></span>次浏览 ·
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation" >
                <span th:class="${pageInation!=null} ? 'active' : ''">
                    <ul class="pagination">
                        <li th:if="${pageInation.showFirstPage}">
                           <a th:href="@{/(page= 1,search=${search},tag=${tag})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                           </a>
                        </li>
                        <li th:if="${pageInation.showPrevious}">
                            <a th:href="@{/(page=${(pageInation.page) - 1},search=${search},tag=${tag})}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                        <li th:class="${pageInation.page == page} ? 'active' : ''" th:each="page : ${pageInation.pages}">
                            <a th:href="@{/(page=${page},search=${search},tag=${tag})}" th:text="${page}"></a>
                        </li>
                        <li th:if="${pageInation.showNext}">
                            <a th:href="@{/(page=${(pageInation.page) + 1},search=${search},tag=${tag})}" aria-label="Next">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li th:if="${pageInation.showEndPage}">
                            <a th:href="@{/(page=${pageInation.totalPage},search=${search},tag=${tag})} " aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </span>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-ad">
                <h4>欢迎宣传本项目</h4>
                <ul class="question-related">
                    <li>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-logo-section">
                            <img class="img-thumbnail question-logo" src="/images/logo.png">
                        </div>
                        <div>
                            <a class="question-link" href="https://github.com/MyPersonalC/community">点一下试试加入我们嘛~</a>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-hotTag">
                <h4>热门标签</h4>
                <div class="media" th:each="hotTag : ${tags}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 src="/images/hotTag.png">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{/(page= 1,search=${search},tag=${hotTag.name})}">
                                <span class="label label-info question-tag">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span class="label label-info" th:text="${hotTag.name}"></span>
                                </span>
                            </a>
                        </h4>
                        <!--                    <span th:text="${question.description}"></span> <br>-->
                        <span class="text-desc">
                        <span th:text="${hotTag.questionCount}"></span>个问题 ·
                        <span th:text="${hotTag.commentCount}"></span>个回复
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer::footer"></div>
</body>
</html>
